# Ignore Visual Studio temporary files, build results, and
# user-specific files
*.csproj.user
*.csproj.userosscache
*.sln.docstates

# Ignore build output folders
bin/
obj/

# Ignore Visual Studio Code workspace
.vscode/

# Ignore Visual Studio specific folder
.vs/

# Ignore log files
*.log

# Ignore local environment settings
appsettings.Development.json